.socialMediaBox {
    display: none;   
}

@media screen and (min-width: 768px) {
    .socialMediaBox {
        z-index: 1000;
        display: block;
        position: fixed;
        top: 60%;
        right: -3px;
        width: 3%;

        background-color: #eff8ef;
        border-left: solid 1px #808d21;
        border-top: solid 1px #808d21;
        border-bottom: solid 1px #808d21;
        border-radius: 3px;

        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .socialMediaBox a {
        display: block;
        text-align: center;
        font-size: 0vh;
    }

    .socialMediaBox i {
        margin: 0.7vh;
        font-size: 3vh;
    }
}
