.socialMediaBox {
    display: none;   
}

@media screen and (min-width: 768px) {
    .socialMediaBox {
        z-index: 2;
        display: block;
        position: fixed;
        top: 60%;
        right: 0;
        width: 3%;

        background-color: #ffffff;
        border-left: solid 1px #808d21;

        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .socialMediaBox a {
        display: block;
        text-align: center;
        font-size: 3vh;
    }
}